/* Estilo general */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    background: linear-gradient(to right, #f4f4f4, #d6e0f0);
    background-color: #f4f4f4;
}

/* Encabezado */
header {
    background-color: #333;
    color: white;
    padding: 15px 20px;
    text-align: center;
}

h1 {
    margin: 0;
    
}

p{
    font-weight: bold;   
}

/* Navegación */
.menu ul {
    list-style: none;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    background-color: #999;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 24px;
}

.menu ul li {
    margin: 5px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.menu ul li a:hover {
    background-color: #ec1919;
}

/* Sección de Proyectos */
.proyectos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adapta las columnas según el ancho */
    gap: 10px;
    padding: 20px;
}

.proyectos article {
    background-color: white;
    margin: 10px auto;
    text-align: center;
    padding: 20px;
    transition: box-shadow 0.3s, transform 0.3s;
    box-shadow: 0 2px 4px rgba(50, 216, 44, 0.87);
    border-radius: 10px;
}
.proyectos article:hover {
    box-shadow: 0 2px 2px 2px red;
    transform: scale(1.02);
}

.imagen-proyecto {
    height: auto;
    width: 300px;
    max-width: 300px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 5px 10px 5px blue;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;;
}

.imagen-proyecto:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-cv-contenido {
    position: relative;
    width: 90%;
    max-width: 800px;
    height: auto;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    padding: 50px 15px 15px;    
}

.modal iframe {
    width: 100%;
    height: 80vh;
    border: none;
    display: block;
}
.modal.show {
    display: flex;
}
.modal-contenido {
    position: relative;
    width: 90%;
    max-width: 800px;
    height: auto;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
    text-align: center;
    box-shadow: 5px 10px 5px blue;
    padding: 40px 20px 10px;
}
.modal img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.modal .cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    color: red;
}

.control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    z-index: 1000;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

.control:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.ubicacion {
    padding: 0 30px 20px;
    background-color: #f9f9f9;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.ubicacion h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.mapa iframe {
    width: 100%;
    height: 450px;
    border: none;
    border-radius: 10px;
    box-shadow: 10px 8px 5px rgba(0, 0, 0, 0.2);
}
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    font-weight: bold;
}
footer .redes-sociales {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 30px;
    border-radius: 10px;
}

footer .redes-sociales img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s;
    color: white;
}

footer .redes-sociales img:hover {
    transform: scale(1.5);
}
